<!doctype html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{title}}</title>
            
</head>
    <body>	
    	{% from "_formhelpers.html" import render_field %}
    	{% with messages = get_flashed_messages() %}
    	        {% if messages %}
    		        <ul>
    			 	    {% for message in messages %}
    			        	<li>{{ message }} </li>
    			        {% endfor %}
    		        </ul>
    		{% endif %}
        {% endwith %}
        {% if reg_form %}
        {% else %}
            {% if g.user.is_authenticated %}
                {{ g.user.email }} <a href="{{url_for('logout')}}">Выйти</a>
            {% else %}
                <form action="{{url_for('login')}}" method="post" name="login">
                    {{login_form.hidden_tag()}}
                        <input type="text" id="email" name="email" placeholder="Email:" style="vertical-align:middle">
                        <input type="password" id="password" name="password" placeholder="Password:" style="vertical-align:middle">
                        <button class="btn btn-primary" type="submit" name="submit" value="login" style="vertical-align:middle">Войти</button>
                        <button class="btn btn-primary" type="submit" name="submit" value="register" style="vertical-align:middle">Регистрация</button>
                </form>
            {% endif %}
        {% endif %}

    	{% block content %}{% endblock %}

    </body>
</html>
