<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
	

	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


		
</head>
<body>
	<a href="http://188.166.21.147:8000/admin">Админка</a>
	{% if g.auth %}
		<script type="text/javascript">
			window.location="/profile";
		</script>
    {% else %}
		<div class="welcome">
			<div class="welcome-c">
				<form action="{{url_for('login')}}" id="login" method="post" name="login">
						<span class="show_on_blured_and_invalid hide" id="login_error">Введите корректные данные</span>
						<input type="text" id="email" name="email" placeholder="Email:" style="vertical-align:middle" class="input-sm">
						<input type="password" id="password" name="password" placeholder="Password:" class="input-sm">
						<button class="btn btn-primary" type="submit" name="submit" value="login" style="vertical-align:middle">Войти</button>
						<a href="#myModal" data-toggle="modal">Регистрация</a>
				</form>	
			</div>
		</div>
   
		<div id="myModal" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h4 class="modal-title">Регистрация</h4>
		      </div>
	          <!-- Форма регистраци -->
		        <form action="/api/auth/reg" id="reg" method="post" name="register">
		        	<div class="modal-body">
						<div class="row register-form-left-block">
							<span class="show_on_blured_and_invalid hide" id="reg_error_1">Заполните все поля</span>
							<div class="col-xs-6">
								<label for="email">Введите E-mail *
									<div class="input-group field">
										<input type="text" id="email" name="email" placeholder="Email:" class="input-sm">
									</div>
									<span class="show_on_blured_and_invalid hide" id="reg_error_4">Введите корректный E-mail</span>
								</label>
								
								<label for="password">Введите пароль *
									<div class="input-group field">
										<input type="password" id="password" name="password" placeholder="Password:" class="input-sm">
									</div>
								</label>
								<label for="confirm_password">Повторите пароль *
									<div class="input-group field">
										<input type="password" id="confirm_password" name="confirm_password" placeholder="Password:" class="input-sm">
									</div>
									<span class="show_on_blured_and_invalid hide" id="reg_error_2">Пароли не совпадают</span>
								</label>
									
								<label for="tel_number">Введите номер телефона *
									<div class="input-group">
										<span class="input-group-addon">+7</span>
										<input type="text" id="tel_number" name="tel_number" class="input-sm tel-number" placeholder="(___) ___-__-__" class="input-sm" data-xp="type: 'phone'">
									</div>
								</label>
								
								<label for="city">Город проживания/передвижения *
									<select id="city" name="city" class="form-control input-sm">
										<option value>город</option>
										<option value="spb">Санкт-Петербург</option>
										<option value="msk">Москва</option>
									</select>
									<span class="show_on_blured_and_invalid hide">Выберите город *</span>
								</label>
							</div>
							<div class="col-xs-6">
								<div class="check-role">
									<label>Тип участия *</label>
									<div class="radio margin-0">
										<label class="margin-0"><input name="userrole" id="vladelec" type="radio" value="vladelec">Я владелец рекламного места</label>
									</div>
									<div class="radio">
										<label><input name="userrole" id="reklamodatel" type="radio" value="reklamodatel">Я рекламодатель</label>
									</div>
									<span class="show_on_blured_and_invalid hide">Укажите тип участия</span>
								</div>
								
								<!-- Выборать Юр/Физ лицо -->
								<div class="yurik-fizik-check">
									<label>Выступаете в качетсве *</label>
									<div class="radio margin-0">
										<label class="margin-0"><input name="lico" type="radio" checked="checked" value="fiz_lico">Физического лица</label>
									</div>
									<div class="radio">
										<label><input name="lico" type="radio" value="yur_lico">Юридического лица</label>
									</div>
									<span class="show_on_blured_and_invalid hide">Укажите, в качестве кого Вы будете принимать заказы</span>
								</div>
								<!-- / Выборать Юр/Физ лицо -->

								<label for="rekl_mesto">Тип рекламного места</label>
								<div class="input-group field">
									<select class="form-control input-sm" name="rekl_mesto">
										<option selected>Автомобиль/автобус</option>
										<option disabled>Вариант 1</option>
										<option disabled>Еще вариант</option>
									</select>
								</div>
								
							</div>
							
						</div>
			      
			      	</div>
				    <div class="modal-footer">
						<button class="btn btn-primary" value="reg" style="vertical-align:middle">Зарегистрироваться</button>
				    </div> 
				</form>
	      		<!-- / Форма регистраци -->
	      
	      
	      		<!-- Ввод кода подтверждения по СМС -->
	      		<!-- Появляется, когда успешно пройдена предыдущая форма регистрации -->
	      		<!-- <form action="" method="post">
	      			<div class="modal-body">
						<div class="row register-form-sms-block">
							<div class="col-xs-12">
								<label for="sms_code">Введите код подтвержденя из SMS *
									<div class="input-group field">
										<input type="text" id="sms_code" name="sms_code" placeholder="SMS-код" class="input-sm">
									</div>
									<span class="show_on_blured_and_invalid hide">СМС-код введен неверно</span>
								</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-transparent" value="" style="vertical-align:middle">
							<i class="glyphicon glyphicon-repeat"></i>
							Смс не пришло
						</button>
						<button class="btn btn-primary" value="" style="vertical-align:middle">Подтвердить</button>
					</div>
	      		</form> -->
	      		<!-- / Ввод кода подтверждения по СМС -->
	      		
		      
		    </div>
		  </div>
		</div>
		<script type="text/javascript">
			$("#reg").submit(function(e) {

			    url = "/api/auth/reg";

			    for (var i = 0; i < 10; i++) {
			    	if (document.getElementById("reg_error_" + i.toString())) {
				    	document.getElementById("reg_error_" + i.toString()).className =
						   document.getElementById("reg_error_" + i.toString()).className.replace
						      ( /(?:^|\s)hide(?!\S)/g , '' );
						document.getElementById("reg_error_" + i.toString()).className += " hide";
					}
			    }
			    $.ajax({
			           type: "POST",
			           url: url,
			           data: $("#reg").serialize(),
			           success: function(data)
			           {
							var xhttp = new XMLHttpRequest();
			           		xhttp.open("POST", "/login", false);
							xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
							xhttp.send($("#reg").serialize());

							xhttp = new XMLHttpRequest();
			           		xhttp.open("POST", "/api/sms/send", false);
							xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
							xhttp.send('');

							window.location="/";
			           },
			           error: function(data)
			           {
			           		var div = document.getElementById("reg_error_" + JSON.parse(data.responseText).code);
			           		if (div) {
			           			document.getElementById("reg_error_" + JSON.parse(data.responseText).code).className =
								   document.getElementById("reg_error_" + JSON.parse(data.responseText).code).className.replace
								      ( /(?:^|\s)hide(?!\S)/g , '' );
			           		}
			           }
			         });

			    e.preventDefault();
			});

			$("#login").submit(function(e) {

			    $.ajax({
			           type: "POST",
			           url: url,
			           data: $("#login").serialize(),
			           success: function(data)
			           {
			           		document.cookie="token="+data.data.token;
							window.location="/";	
			           },
			           error: function(data)
			           {
			           		document.getElementById("login_error").className =
							   document.getElementById("login_error").className.replace
							      ( /(?:^|\s)hide(?!\S)/g , '' );
			                // alert("ERROR: " + JSON.parse(data.responseText).message);
			           }
			         });

			    e.preventDefault(); // avoid to execute the actual submit of the form.
			});
		</script>
	{% endif %}
		
	<script src="{{url_for('static', filename='js/bootstrap.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static', filename='js/expromptum.js')}}" type="text/javascript"></script>
		
	<script type="text/javascript">
		expromptum();
			
		jQuery(function($){
			$(".tel-number").mask("(999) 999-99-99"); // Маска телефона
					
			
			$(".yurik-fizik-check").hide();
			$('#vladelec').click(function() {
				$(".yurik-fizik-check").show();
				});
			$('#reklamodatel').click(function() {
				$(".yurik-fizik-check").hide();
				});
		});
	</script>	
	
</body>
</html>