<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
	

	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='js/bootstrap.js')}}" type="text/javascript"></script>

		
</head>
<body>
	{% from "_formhelpers.html" import render_field %}
	{% with messages = get_flashed_messages() %}
	        {% if messages %}
		        <ul>
			 	    {% for message in messages %}
			        	<li>{{ message }} </li>
			        {% endfor %}
		        </ul>
		{% endif %}
    {% endwith %}
	
	{% if g.user.is_authenticated() %}
        <div align="center">
	        <b>Profile</b><br>
	        Email: {{ g.user.email }}<br>
	        City: {{ g.user.city }}<br>
	        Tel: {{ g.user.tel_number }}<br>
	        Role (1-car, 2-add): {{ g.user.role }}<br>
	        <a href="{{url_for('logout')}}">Выйти</a>
	    </div>
    {% else %}
		<div class="welcome">
			<div class="welcome-c">
				<form action="{{url_for('login')}}" id="login" method="post" name="login">
						<input type="text" id="email" name="email" placeholder="Email:" style="vertical-align:middle" class="input-sm">
						<input type="password" id="password" name="password" placeholder="Password:" class="input-sm">
						<button class="btn btn-primary" type="submit" name="submit" value="login" style="vertical-align:middle">Войти</button>
						<a href="#myModal" data-toggle="modal">Регистрация</a>

				</form>	
			</div>
		</div>
   
		<div id="myModal" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h4 class="modal-title">Регистрация</h4>
		      </div>
		      <div class="modal-body">
		        <form action="{{url_for('reg')}}" id="reg" method="post" name="register">
						<div class="row register-form-left-block">
							<div class="col-xs-6">
								<label for="email">Введите E-mail</label>
								<input type="text" id="email" name="email" placeholder="Email:" class="input-sm">
								<label for="password">Введите пароль</label>
								<input type="password" id="password" name="password" placeholder="Password:" class="input-sm">
								<label for="confirm_password">Повторите пароль</label>
								<input type="password" id="confirm_password" name="confirm_password" placeholder="Password:" class="input-sm">
								<label for="tel_number">Введите номер телефона</label>
								<div class="input-group">
									<span class="input-group-addon">+7</span>
									<input type="text" id="tel_number" name="tel_number" placeholder="" class="input-sm">
								</div>
								<label for="tel_number">Город проживания/передвижения</label>
								<select id="city" name="city" class="form-control input-sm">
									<option>Санкт-Петербург</option>
									<option>Москва</option>
								</select>
							</div>
							<div class="col-xs-6">
								<div class="radio">
									<label><input name="userrole" type="radio" value="vladelec">Я владелец рекламного места</label>
								</div>
								<div class="radio">
									<label><input name="userrole" type="radio" value="reklamodatel">Я рекламодатель</label>
								</div>
							</div>
						</div>
				      <div class="modal-footer">
						<button class="btn btn-primary" value="reg" style="vertical-align:middle">Зарегистрироваться</button>
				      </div>
					</form>
		      </div>
		    </div>
		  </div>
		</div>
		<script type="text/javascript">
			$("#reg").submit(function(e) {

			    var url = "/reg"; // the script where you handle the form input.

			    $.ajax({
			           type: "POST",
			           url: url,
			           data: $("#reg").serialize(), // serializes the form's elements.
			           success: function(data)
			           {
			           		console.log(data);
			           		var xhttp = new XMLHttpRequest();
			           		xhttp.open("POST", "/login", false);
							xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
							xhttp.send($("#reg").serialize());
							window.location="/";
			           },
			           error: function(data)
			           {
			           		console.log(data);
			                alert("ERROR: " + JSON.parse(data.responseText).message); // show response from the php script.
			           }
			         });

			    e.preventDefault(); // avoid to execute the actual submit of the form.
			});

			$("#login").submit(function(e) {

			    var url = "/api/auth/check_login"; // the script where you handle the form input.

			    $.ajax({
			           type: "POST",
			           url: url,
			           data: $("#login").serialize(), // serializes the form's elements.
			           success: function(data)
			           {
			           		console.log($("#login").serialize());
			           		var xhttp = new XMLHttpRequest();
			           		xhttp.open("POST", "/login", false);
							xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
							xhttp.send($("#login").serialize());
							window.location="/";	
			           },
			           error: function(data)
			           {
			           		console.log(data);
			                alert("ERROR: " + JSON.parse(data.responseText).message); // show response from the php script.
			           }
			         });

			    e.preventDefault(); // avoid to execute the actual submit of the form.
			});
		</script>
	{% endif %}
			
		
		
		
		
		
		
		
	
</body>
</html>