<nav class="navbar-static-side" role="navigation">
        <div>
            <ul class="nav">
                <li class="nav-header">
                    <div class="profile-element">
                        <a href="/">
                            <span class="clear">
                                <span class="block">
                                    <strong class="font-bold profile-name">{{g.user.surname}} {{g.user.name}}</strong>
                                </span>
                                <span class="text-muted text-xs block">
                                    {{ g.user.email }}
                                </span>
                            </span>
                        </a>
                    </div>

                </li>
                


{% if g.user.role % 2 == 0 %}
                <li>
                    <a href="{{url_for('profile')}}"><i class="glyphicon glyphicon-user"></i> <span class="nav-label">Профиль</span> </a>
                </li> 
                <li>
                    <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i> <span class="nav-label">Мои Р/К</span> </a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-search"></i> <span class="nav-label">Поиск</span> </a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-briefcase"></i> <span class="nav-label">Мои предложения</span> </a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-time"></i> <span class="nav-label">История рботы</span> </a>
                </li>
                <li>
                    <a href="/chat"><i class="glyphicon glyphicon-comment"></i> <span class="nav-label">Сообщения</span> </a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-ruble"></i> <span class="nav-label">Биллинг</span> </a>
                </li>  
                <li>
                    <a href="#"><i class="glyphicon glyphicon-off"></i> <span class="nav-label">Выход</span> </a>
                </li>               
{% else %}
                <li>
                    <a href="{{url_for('profile')}}"><i class="glyphicon glyphicon-user"></i> <span class="nav-label">Профиль</span> </a>
                </li> 
                <li>
                    <a href="#"><i class="glyphicon glyphicon-dashboard"></i> <span class="nav-label">Мои ТС</span> </a>
                </li>
                
                <li>
                    <a href="#"><i class="glyphicon glyphicon-globe"></i> <span class="nav-label">Мои маршруты</span> </a>
                </li>
                <li>
                    <a href="{{url_for('chat')}}"><i class="glyphicon glyphicon-comment"></i> <span class="nav-label">Сообщения</span> </a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-briefcase"></i> <span class="nav-label">Предложения рекламодателей</span> </a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-ruble"></i> <span class="nav-label">Биллинг</span> </a>
                </li> 
                <li>
                    <a href="#"><i class="glyphicon glyphicon-time"></i> <span class="nav-label">История работы</span> </a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}"><i class="glyphicon glyphicon-off"></i> <span class="nav-label">Выход</span> </a>
                </li>              
{% endif %}

        </ul>
    </div>
</nav>
